<ul{{ if eq .parent "" }} id="tag-tree"{{ end }}>
  {{- range sort .model.nodes "key" -}}
    {{- if eq .parent $.parent -}}
      {{- $page := partial "tags/page.html" (dict "owner" $.owner "slug" .slug) -}}
      <li data-tag="{{ .key }}" data-count="{{ len .notes }}">
        <a href="{{ $page.RelPermalink }}">{{ path.Base .key }}</a> ({{ len .notes }})
        {{- partial "tags/tree.html" (dict "owner" $.owner "model" $.model "parent" .key) -}}
      </li>
    {{- end -}}
  {{- end -}}
</ul>
